In [132]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn.linear_model import RidgeCV
from sklearn.linear_model import LassoCV
from sklearn.linear_model import ElasticNet
from sklearn.metrics import mean_squared_error

In [90]:
"""
Read in train and test as Pandas DataFrames
"""
# df_train = pd.read_csv("train.csv")
df_train_full = pd.read_csv("train.csv")
df_train = df_train_full.sample(n=6000)
df_test = pd.read_csv("test.csv")

In [91]:
df_train.head()

,smiles,feat_001,feat_002,feat_003,feat_004,feat_005,feat_006,feat_007,feat_008,feat_009,...,feat_248,feat_249,feat_250,feat_251,feat_252,feat_253,feat_254,feat_255,feat_256,gap
431343,c1cc2c3nsnc3c3c4ccc(cc4c4=CCC=c4c3c2[se]1)-c1s...,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.74
759083,c1ccc(o1)C1=Cc2[se]c3c(c2C1)c1nsnc1c1ccncc31,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.89
565891,c1cc2c3cocc3c3c4ccc(cc4c4cscc4c3c2[se]1)-c1ncncn1,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.03
855751,c1ccc(s1)-c1sc(-c2sc(c3Cccc23)-c2scc3[nH]ccc23...,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.66
111429,[nH]1ccc2[SiH2]c3c(-c12)c1c[nH]cc1c1cc(oc31)-c...,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.97

In [93]:
df_test.head()

,Id,smiles,feat_001,feat_002,feat_003,feat_004,feat_005,feat_006,feat_007,feat_008,...,feat_247,feat_248,feat_249,feat_250,feat_251,feat_252,feat_253,feat_254,feat_255,feat_256
0,1,c1sc(-c2cnc3c(c2)c2nsnc2c2cc4cccnc4cc32)c2cc[n...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,[nH]1cccc1-c1cc2c3nsnc3c3c4sccc4[nH]c3c2s1,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,[nH]1c2cc(-c3ccc[se]3)c3nsnc3c2c2c3cscc3c3ccc4...,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,[nH]1c(cc2cnc3c(c12)c1=C[SiH2]C=c1c1ccc2=CCC=c...,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,c1sc(-c2sc(-c3sc(-c4scc5[se]ccc45)c4ccoc34)c3c...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [94]:
#store gap values
Y_train = df_train.gap.values
#row where testing examples start
test_idx = df_train.shape[0]
#delete 'Id' column
df_test = df_test.drop(['Id'], axis=1)
#delete 'gap' column
df_train = df_train.drop(['gap'], axis=1)

6000

In [97]:
#DataFrame with all train and test examples so we can more easily apply feature engineering on
df_all = pd.concat((df_train, df_test), axis=0)
df_all.head()

,smiles,feat_001,feat_002,feat_003,feat_004,feat_005,feat_006,feat_007,feat_008,feat_009,...,feat_247,feat_248,feat_249,feat_250,feat_251,feat_252,feat_253,feat_254,feat_255,feat_256
431343,c1cc2c3nsnc3c3c4ccc(cc4c4=CCC=c4c3c2[se]1)-c1s...,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
759083,c1ccc(o1)C1=Cc2[se]c3c(c2C1)c1nsnc1c1ccncc31,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
565891,c1cc2c3cocc3c3c4ccc(cc4c4cscc4c3c2[se]1)-c1ncncn1,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
855751,c1ccc(s1)-c1sc(-c2sc(c3Cccc23)-c2scc3[nH]ccc23...,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
111429,[nH]1ccc2[SiH2]c3c(-c12)c1c[nH]cc1c1cc(oc31)-c...,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [7]:
"""
Example Feature Engineering

this calculates the length of each smile string and adds a feature column with those lengths
Note: this is NOT a good feature and will result in a lower score!
"""
#smiles_len = np.vstack(df_all.smiles.astype(str).apply(lambda x: len(x)))
#df_all['smiles_len'] = pd.DataFrame(smiles_len)

'\nExample Feature Engineering\n\nthis calculates the length of each smile string and adds a feature column with those lengths\nNote: this is NOT a good feature and will result in a lower score!\n'

In [98]:
#Drop the 'smiles' column
df_all = df_all.drop(['smiles'], axis=1)
vals = df_all.values
X_train = vals[:test_idx]
X_test = vals[test_idx:]
print("Train features:", X_train.shape)
print("Train gap:", Y_train.shape)
print("Test features:", X_test.shape)

Train features: (6000, 256)
Train gap: (6000,)
Test features: (824230, 256)

In [109]:
#Linear Regression
LR = LinearRegression()
LR.fit(X_train, Y_train)
LR_pred = LR.predict(X_test)

print('LR Train R^2:', LR.score(X_train, Y_train))
print('LR Train RMSE:', np.sqrt(mean_squared_error(Y_train, LR.predict(X_train))))

LR Train R^2: 0.467494211982
LR Train RMSE: 0.30134481601

In [105]:
#Random Forest 
RF = RandomForestRegressor()
RF.fit(X_train, Y_train)
RF_pred = RF.predict(X_test)

print('RF Train R^2:', RF.score(X_train, Y_train))
print('RF Train RMSE:', np.sqrt(mean_squared_error(Y_train, RF.predict(X_train))))

RF Train R^2: 0.611890569413
RF Train RMSE: 0.25726378581

In [128]:
#lambda values to test for Ridge and Lasso Regression
lambdas = [.001,.005,1,5,10,50,100,500,1000]
# lambdas = [.001,.005,.01,.05,.1,.5,1,5,10,50,100,250,500,750,1000]

In [130]:
#Ridge Regression
Ridge = RidgeCV(alphas=lambdas, fit_intercept=True, cv=5)
Ridge.fit(X_train, Y_train)
Ridge_pred = Ridge.predict(X_test)

print('Ridge Train R^2:', Ridge.score(X_train, Y_train))
print('Ridge Train RMSE:', np.sqrt(mean_squared_error(Y_train, Ridge.predict(X_train))))

Ridge Train R^2: 0.467501817073
Ridge Train RMSE: 0.301342664143

In [108]:
#Lasso Regression
Lasso = LassoCV(alphas=lambdas, fit_intercept=True, cv=5)
Lasso.fit(X_train, Y_train)
Lasso_pred = Lasso.predict(X_test)

print('Lasso Train R^2:', Lasso.score(X_train, Y_train))
print('Lasso Train RMSE:', np.sqrt(mean_squared_error(Y_train, Lasso.predict(X_train))))

Lasso Train R^2: 0.46185147622
Lasso Train RMSE: 0.302937219596

In [144]:
#Elastic Net Regression
Elastic = ElasticNet(alpha=1.0, l1_ratio=0.5, fit_intercept=True)
Elastic.fit(X_train, Y_train)
Elastic_pred = Elastic.predict(X_test)

print('Elastic Net Train R^2:', Elastic.score(X_train, Y_train))
print('Elastic Net Train RMSE:', np.sqrt(mean_squared_error(Y_train, Elastic.predict(X_train))))

Elastic Net Train R^2: 0.0
Elastic Net Train RMSE: 0.412953887091

In [110]:
def write_to_file(filename, predictions):
    with open(filename, "w") as f:
        f.write("Id,Prediction\n")
        for i,p in enumerate(predictions):
            f.write(str(i+1) + "," + str(p) + "\n")

In [145]:
folder = os.path.dirname(os.getcwd()) + "/P1-regression/predictions/"

write_to_file(folder + "OLS.csv", LR_pred)
write_to_file(folder + "RF.csv", RF_pred)
write_to_file(folder + "Ridge.csv", Ridge_pred)
write_to_file(folder + "Lasso.csv", Lasso_pred)
write_to_file(folder + "ElasticNet.csv", Elastic_pred)